{% extends "base.html" %}

{% block style %}
{% endblock style %}

{% block content %}
<div class="container-fluid bg-dark p-3">
    <div class="row align-items-center">
        <div class="col">
            <a href="#" class="text-white text-decoration-none">
                <i class="fas fa-arrow-left"></i>
            </a>
            <span class="text-white ms-3">Profile</span>
        </div>
    </div>
</div>

<div class="container mt-4">
    <div class="row col-md-12">
        <div class=" col-md-6 text-center mb-4">
            <div class="position-relative d-inline-block">
                <img src="/static/chippy-img.jpg" alt="Profile Picture" class="rounded-circle" width="200" height="200" />
                <button class="btn btn-light rounded-circle position-absolute bottom-0 end-0">
                    <i class="fas fa-camera"></i>
                </button>
            </div>
        </div>
        <div class="card col-md-6">
            <div class="card-body">
                <form>
                    <!-- Name Section -->
                    <div class="mb-4">
                        <label class="text-muted small mb-1">Name</label>
                        <div class="input-group">
                            <input type="text" class="form-control border-0 ps-0">
                            <button class="btn" type="button">
                                <i class="fas fa-pen"></i>
                            </button>
                        </div>
                    </div>

                    <div class="mb-4">
                        <label class=" small mb-1">Email</label>
                        <div class="input-group">
                            <input type="text" class="form-control border-0 ps-0">
                            <button class="btn" type="button">
                                <i class="fas fa-pen"></i>
                            </button>
                        </div>
                    </div>

                    <div>
                        <label class="text-muted small mb-1">Phone</label>
                        <p class="form-control-plaintext ps-0"></p>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

{% endblock content %}