{% extends "base.html" %}
{% include 'navbar.html' %}
{% block style %}
<style>
    body {
        background-color: #000000;
        font-family:'Merriweather', serif;
        margin: 0;
        height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .container {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        max-width: 1200px;
    }

    .big-box {
        background-color: #1a1a1a;
        width: 30%;
        height: 300px;
        box-shadow: 0 4px 10px #66FCF1;
        border-radius: 10px;
        text-align: center;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: 19px;
        transition: box-shadow 0.3s, transform 0.3s;
        cursor: pointer;
    }

    .big-box:hover {
        box-shadow: 0 6px 15px #66FCF1;
        transform: translateY(-5px);
    }

    .big-box.active {
        box-shadow: 0 0 25px 1px#0066ff;
    }

    .fa-microphone, .fa-file-pdf, .fa-book {
        font-size: 100px; /* Reduced from 150px */
        color: white;
    }

    h1 {
        margin: 30px;
        color: #66FCF1;
        font-size:2rem;
    }
</style>
{% endblock style %}

{% block content %}
<div class="container">
    <!-- First box -->
    <div class="big-box" onclick="toggleHighlight(this)">
        <i class="fa-solid fa-microphone"></i>
        <h1>Live Caption</h1>
    </div>

    <!-- Second box -->
    <div class="big-box" onclick="toggleHighlight(this)">
        <i class="fa-solid fa-file-pdf"></i>
        <h1>PDF</h1>
    </div>

    <!-- Third box -->
    <div class="big-box" onclick="toggleHighlight(this)">
        <i class="fa-solid fa-book"></i>
        <h1>Summarize</h1>
    </div>
</div>
{% endblock content %}
